---
title: Elsworth Artworks
subtitle: Articles
body_class: about
---
<section>
  <% data.site_info.articles.each do |article| %>
  <p><%= article.author %> (<%= article.date %>).
    <%= link_to article.title, article.url %>
    <%= article.publication %>, <%= link_to article.pub_title, article.pub_url %>.
  </p>
  <% end %>
</section>