---
title: Elsworth Artworks
subtitle: Articles
body_class: about
---
<section>
<p>Sheehan, Sylvia (2017, July 28).
    <%= link_to "Artist rebuilds life’s work after devastating fire",
    "/articles/Lamorinda_Sun_20170728_A14_0.pdf" %>
    East Bay Times, <%= link_to "Page A14", "http://www.lamorindaweekly.com/archive/issue1111/read.html" %>.
</p>
<p>Navolio, Kara (2017, July 26).
    <%= link_to "Lafayette artist rises from ashes to create new works inspired by local landscapes",
    "/articles/Kara_Navolio-26-Jul-2017-LamorindaWeekly.pdf" %>
    Lamorinda Weekly, <%= link_to "Issue 1111", "http://www.lamorindaweekly.com/archive/issue1111/read.html" %>.
</p>
<p>Editor (2017, July).
    <%= link_to "Suzy Elsworth-Heithcock",
    "/articles/Suzy_Heithcock-Jul_2017-Diablo_Gazette.png" %>
    Diablo Gazette, Issue 6393.
</p>
<p>Cain, Fran (2016, August). 
    <%= link_to "Local Artist Finds Sense of Freedom After Devastating Fire", 
    "/articles/Suzy's Story-Aug-16-Diablo Gazette.pdf" %>
    (followed by a 
    <%= link_to "Correction",
    "/articles/Suzy's Story-Sep-16-Diablo Gazette-Correction.pdf" %>). Diablo Gazette, 3.
</p>
</section>