---
title: Elsworth Artworks
subtitle: Articles & Awards
body_class: about
---
<p>&nbsp;</p>

<h2>Articles</h2>
<section>
  <% data.site_info.articles.each do |article| %>
  <p><%= article.author %> (<%= article.date %>).
    <%= link_to article.title, article.url %>
    <% if article.publication %>
    <%= article.publication %>, <%= link_to article.pub_title, article.pub_url %>.
    <% end %>
  </p>
  <% end %>
</section>

<p>&nbsp;</p>

<h2>Awards</h2>
<section>
  <% data.site_info.awards.each do |award| %>
  <p><%= link_to award.award, award.url %></p>
  <% end %>
</section>