<header>
  <nav>
    <%= nav_link("Artwork", "/", :relative => true) %>
    <%= nav_link("About Me", "/about.html", :relative => true) %>
    <%= nav_link("Articles", "/articles/index.html", :relative => true) %>
    <%= nav_link("Clients", "/clients.html", :relative => true) %>
    <%= nav_link("Shows", "/shows.html", :relative => true) %>
    <%= nav_link("Videos", "/videos.html", :relative => true) %>
  </nav>
</header>
