---
title: Suzy Elsworth-Heithcock
subtitle: About Me
body_class: about
layout: email
---

<%= partial "bio_and_contact" %>

<%# From articles/index.html %>
<section>
<h3>Articles</h3>
  <% data.site_info.articles.each do |article| %>
  <p><%= article.author %> (<%= article.date %>).
    <%= link_to article.title, article.url %>
    <%= article.publication %>, <%= link_to article.pub_title, article.pub_url %>.
  </p>
  <% end %>
</section>

<section>
<h3>Pieces</h3>
<% config[:all_images][:oil].each do |piece| %>
<%# piece = 
   {:category=>"oil",
    :album=>"Landscapes",
    :title=>"Monterey Visitor", 
    :has_children=>nil, 
    :parent=>nil, 
    :image=>"monterey_visitor.jpg", 
    :date=>"2018", 
    :media=>"Oil on Masonite", 
    :width=>"24", 
    :height=>"36", 
    :tags=>"Oil", 
    :notes=>"Photo", 
    :album_escaped=>"landscapes", 
    :basename=>"monterey_visitor"}%>

<%
    next if piece[:parent] # is a supporting image

    img_url = img_path(piece)
    item_url = item_path(piece)
    img_width = piece[:width].to_i
    if (img_width > 0)
        # map 72 inches to 600px, 8 inches to 200px
        min_inches = 8
        max_inches = 72
        min_width = 200
        max_width = 400 # will be added to min_width
        img_width = min_inches if (img_width < min_inches)
        img_width = max_inches if (img_width > max_inches)
        scaled_width = min_width + max_width * (img_width - min_inches) / (max_inches - min_inches)
    else
        scaled_width = "400"
    end
 %>
<h4><em><a href="<%= item_url %>"><%= piece[:title] %></a></em></h4>
<p><span class="info">
    <% if piece[:date] %>
        <%= piece[:date] %>, 
    <% end %>
    <% if piece[:media] %>
        <%= piece[:media] %><% end %><%# odd formatting to not have any white space before comma
        %><% if piece[:width] && piece[:height] %>,
        <%= piece[:width] %>" x <%= piece[:height] %>"
    <% end %></span><br>
<a href="<%= item_url %>"><img src="<%= img_url %>" alt="<%= piece[:title] %>" width="<%= scaled_width %>px"></a>
</p>
<% end %>
</section>