---
body_class: single_image
---

<%
  current_page.data.include_open_graph = true
  current_page.data.open_graph_image = data.site_info.site_url + img_path(item)
  current_page.data.subtitle = item[:title]
%>
<%# e.g. category => "oil", album => "Doorknockers" %>

<div>
  <figure class="<%= item[:album] %>">
    <%= link_to( image_tag(img_path(item), {:alt => item[:title]}), img_path(item) ) %>
  </figure>
  <h3 class="title_links">
      <% if item_path(prev_item) != "" then %>
          <%= link_to("&lt;", item_path(prev_item), {:rel => "prev", :class => 'prev_link'}) %>
      <% end %>
      <span>
          <% if item[:date] then %>
          <%= "#{item[:title]}, #{item[:date]}" %>
          <% else %>
          <%= "#{item[:title]}" %>
          <% end %>
      </span>
      <% if item_path(next_item) != "" then %>
          <%= link_to("&gt;", item_path(next_item), {:rel => "next", :class => 'next_link'}) %>
      <% end %>
  </h3>
  <% if item[:width]%>
  <h3><%= "#{item[:media]}, #{item[:width]}&Prime; x #{item[:height]}&Prime;" %></h3>
  <% else %>
  <h3><%= "#{item[:media]}" %></h3>
  <% end %>
  
  <% if item[:price].to_i > 0 %>
  <h3><%= "Original painting: #{number_to_currency(item[:price], {:precision => 0})}" %></h3>
  <% elsif item[:price].to_s.length > 0 %>
  <h3><%= item[:price] %> </h3>
  <% end %>
  <% if ["oil", "drawings"].include? item[:category].downcase %>
    <% unless item[:parent] %><%# Do not show Giclée info for progress and other supporting images %>
      <!--
    <h3>Giclée reproductions are available in a variety of sizes. Please <%= link_to("contact", "/about.html", class:"active") %> the artist.</h3>
    -->
    <% end %>
  <% end %>
</div>

<% if item[:has_children] %>
<%= link_to( "View progress of '#{item[:title]}'", progress_path(item), :class => 'progress' ) %>
<% end %>
